<div id="content" ng-controller="AddEventCtrl" >

    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET ROW START -->
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-deletebutton="false"
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >

                    <div class="row">
                        <div class="widget-body">
                            <form id="userForm" class="" name="userForm" method="post" ng-submit="saveEventInfo(userForm.$valid)">



                                <fieldset class="col-sm-6">
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Title</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="title"  ng-model="dataRow.title" >


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Description</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="description"  ng-model="dataRow.description" >


                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Name</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="name"  ng-model="dataRow.name" >
                                                    <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                        <p ng-show="userForm.name.$error.required && userForm.name.$dirty" class="help-block">Please enter name.</p>
                                                        <p ng-show="userForm.name.$error.pattern && userForm.name.$dirty" class="help-block">Please enter valid name.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Location</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="location"  ng-model="dataRow.location" required ng-pattern="/^[a-zA-Z ]+$/">


                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Latitude</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="latitude"  ng-model="dataRow.latitude" required ng-pattern="/^(\-)?\d+(\.\d{0,6})?$/">
                                                    <div ng-class="{ 'has-error' : userForm.latitude.$invalid && userForm.latitude.$dirty }">
                                                        <p ng-show="userForm.latitude.$error.required && userForm.latitude.$dirty" class="help-block">Please enter latitude.</p>
                                                        <p ng-show="userForm.latitude.$error.pattern && userForm.latitude.$dirty" class="help-block">Please enter valid latitude.</p>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    


                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Longitude</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="longitude"  ng-model="dataRow.longitude" required ng-pattern="/^(\-)?\d+(\.\d{0,6})?$/">
                                                    <div ng-class="{ 'has-error' : userForm.longitude.$invalid && userForm.longitude.$dirty }">
                                                        <p ng-show="userForm.longitude.$error.required && userForm.longitude.$dirty" class="help-block">Please enter longitude.</p>
                                                        <p ng-show="userForm.longitude.$error.pattern && userForm.longitude.$dirty" class="help-block">Please enter valid longitude.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Image</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <file-field-country ng-model="uploadFileEvent" preview="image"></file-field-country>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-xs-2 col-lg-4 control-label"></label>
                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                <img src="{{image}}" alt="" width="150"> 
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>


                                <fieldset class="col-sm-6">
                                    <div class="col-sm-12">

                                        <map center="{{dataRow.latitude}} , {{dataRow.longitude}}" zoom="12"
                                             style="width: 100%; height: 200px;">

                                            <marker  id="markerId" position="[{{dataRow.latitude}},{{dataRow.longitude}}]" >

                                            </marker>

                                        </map>
                                    </div>
                                </fieldset>

                                <fieldset class="col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <br/>
                                                <div class="pull-right">

                                                    <button class="btn btn-default" type="button" ng-click="backToEvent()" >
                                                        Cancel
                                                    </button>
                                                    <button class="btn btn-primary" type="submit"  ng-disabled="userForm.$invalid">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

    </section>
</div>