<div id="logout" class="btn-header transparent pull-right" ng-controller="layoutCtrl">
  
    <span class="header_logout"> {{user.name}}   </span> 
<!--            <a id="header_logout" class="header_logout" ui-sref="logout" title="Sign Out" data-action="userLogout"
           data-logout-msg="You can improve your security further after logging out by closing this opened browser"><b>Logout</b></a> -->

<a id="header_logout" class="header_logout" ng-click="confirmLogout();" title="Sign Out" data-action="userLogout"
           data-logout-msg="You can improve your security further after logging out by closing this opened browser"><b>Logout</b></a>
            
    <!-- start dialog status box -->
<div id="dialog_status_logout" data-smart-jqui-dialog data-modal="true">
    <div data-dialog-title>
        <div class='widget-header'><h4><i class='fa fa-edit'></i> Confirmation!</h4></div>
    </div>
    <p>Are you sure, you want to logout ?</p>
    <div data-dialog-buttons>
        <button class="btn btn-success" data-action="logout();"><i class='fa fa-check'></i>&nbsp; Yes</button>
        <button class="btn btn-primary"><i class='fa fa-times'></i>&nbsp; No</button>
    </div>
</div>
<!-- end dialog status box -->
</div>