<aside id="left-panel" style="position: fixed !important;">

   
    <div data-login-info></div>
    <!-- end user info -->

    <nav>
       
        <ul data-smart-menu>
          
           <li data-ui-sref-active="active" >
                <a data-ui-sref="app.admin" title="Admin"><i class="fa fa-lg fa-fw  fa-user  "></i> 
                    <span class="menu-item-parent">Manage Admin</span></a>
            </li>
            
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.user" title="User"><i class="fa fa-lg fa-fw  fa-user-md "></i> 
                    <span class="menu-item-parent">Manage User</span></a>
            </li>
           
            
            <li data-ui-sref-active="active" >
                <a data-ui-sref="app.event" title="Event"><i class="fa fa-lg fa-fw fa-plus-square"></i> 
                    <span class="menu-item-parent">Manage Event</span></a>
            </li>
            
<!--            <li data-ui-sref-active="active" >
                <a data-ui-sref="app.inquiries" title="Inquiries"><i class="fa fa-lg fa-fw fa-info"></i> 
                    <span class="menu-item-parent">Manage Inquiries</span></a>
            </li>
            <li data-ui-sref-active="active" >
                <a data-ui-sref="app.procedures" title="procedures"><i class="fa fa-lg fa-list-ul"></i> 
                    <span class="menu-item-parent">Procedures</span></a>
            </li>
            <li data-ui-sref-active="active" >
                <a data-ui-sref="app.setting" title="Setting"><i class="fa fa-lg fa-fw fa-sliders"></i> 
                    <span class="menu-item-parent">Settings</span></a>
            </li>-->
        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu" data-minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
    
    <div id="loaderbg">
        <ul class="demo-btns loader_class">
            <li>
                <a href-void class="btn bg-color-blueDark txt-color-white"><i class="fa fa-gear fa-4x fa-spin"></i></a>
            </li>
        </ul>
    </div>

</aside>
