<div class="well">
    <h1>
        <i class="ultra-light">Welcome to Mediula!</i> 
<!--        <sup class="badge bg-color-red bounceIn animated">v 1.0.BETA</sup>  --><br><br>
        <span class="text-danger slideInRight fast animated"><img src="styles/img/logo-black-large.png" style="width: 100%"></span>
    </h1>
    <p></p>

    <br> 
    <p></p>
</div>