<!--<header id="header" class="animated fadeInDown">

    <div id="logo-group" style="background:none !important;">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin">
        </span>
    </div>

        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="register" class="btn btn-danger">Create account</a>
        </span>

</header>-->
<div id="main" role="main"  class="animated" >

    <div id="content" class="container" style="margin-top: 130px;"> 

        <div class="row">
            <!--            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                            <div ng-include="'app/auth/views/common_info.html'"></div>
                        </div>-->
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form  id="forgotPwdFrm" name="forgotPwdFrm" class="smart-form" novalidate="novalidate" data-ng-submit="forgotPassword(forgotPwdFrm.$valid)" ng-controller="ForgotPasswordCtrl">
                        <header style="text-align: center;">
                            
                            <span style="font-size:1.5em; font-weight:600; color: #1b1e24;">DAH MAKAN</span>

                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Enter your email address</label>
                                <label class="input"> 
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Email address" data-ng-model="forgotCredentials.email" required>
                                    <b class="tooltip tooltip-top-right">
                                        <i class="fa fa-envelope txt-color-teal"></i> 
                                        Please enter email address for password reset
                                    </b>
                                    <div ng-class="{ 'has-error' : forgotPwdFrm.email.$invalid && forgotPwdFrm.email.$dirty }">
                                        <p ng-show="forgotPwdFrm.email.$error.required && forgotPwdFrm.email.$dirty" class="help-block">Please enter email.</p>
                                        <p ng-show="forgotPwdFrm.email.$error.email" class="help-block">Please enter a valid email address.</p>

                                    </div>
                                </label>
                            </section>



                        </fieldset>
                        <footer>

                            <button type="submit" class="btn btn-primary" ng-disabled="(forgotPwdFrm.email.$invalid)">
                                <i class="fa fa-refresh"></i> Reset Password
                            </button>
                            <button class="btn btn-default" type="button" ng-click="backToLogin()">
                                Back
                            </button>
                        </footer>
                    </form>

                </div>



            </div>
        </div>
    </div>

</div>
</div>