<style type="text/css">
    html{margin:0;padding:0;min-height:100%;background:url(../../../styles/img/mybg.png) #1b1e24;position:relative}
</style>
<!--<header id="header" class="animated fadeInDown">

    <div id="logo-group" style="background:none !important;">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin">
        </span>
    </div>

        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="register" class="btn btn-danger">Create account</a>
        </span>

</header>-->
<div id="main" role="main" class="animated" style="">

    <div id="content" class="container" style="margin-top: 130px;">
        <div class="row">
            <!--            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                            <div ng-include="'app/auth/views/common_info.html'"></div>
                        </div>-->

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"></div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form id="usrLoginFrm" name="usrLoginFrm" class="smart-form" novalidate data-ng-submit="login(credentials, remember, usrLoginFrm.$valid)">
                        <header style="text-align: center;">

                            <span style="font-size:1.5em; font-weight:600; color: #1b1e24;">Maply</span>

                        </header>
                        <fieldset>
                            <section>
                                <label class="label">Email</label> 
                                <label class="input" > 
                                    <i class="icon-append fa fa-user"></i> 
                                    <input type="email" name="username" data-ng-model="credentials.username" placeholder="Email"  required=""> 
                                    <b class="tooltip tooltip-bottom-right">Needed to enter the email</b>
                                    <div ng-class="{ 'has-error' : usrLoginFrm.username.$invalid && usrLoginFrm.username.$dirty }">
                                        <p ng-show="usrLoginFrm.username.$error.required && usrLoginFrm.username.$dirty" class="help-block">Please enter email.</p>
                                        <p ng-show="usrLoginFrm.username.$error.email" class="help-block">Please enter a valid email address.</p>

                                    </div>
                                </label>
                            </section>
                            <section>
                                <label class="label">Password</label> 
                                <label class="input"> 
                                    <i class="icon-append fa fa-lock"></i> 
                                    <input type="password" name="password" placeholder="Password" data-ng-model="credentials.password" ng-minlength="3" ng-maxlength="20" required=""> 
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    <div ng-class="{ 'has-error' : usrLoginFrm.password.$invalid && usrLoginFrm.password.$dirty }">
                                        <p ng-show="usrLoginFrm.password.$error.required && usrLoginFrm.password.$dirty" class="help-block">Please enter password.</p>
                                        <p ng-show="usrLoginFrm.password.$error.minlength" class="help-block">Your password is required to be at least 3 characters.</p>
                                        <p ng-show="usrLoginFrm.password.$error.maxlength" class="help-block">Your password cannot be longer than 20 characters.</p>
                                    </div>
                                </label>
                            </section>
                            <section>
                                <div class="note">
                                    <a ui-sref="forgotPassword">Forgot password?</a>
                                </div>
                            </section>

                            <section>
                                <label class="checkbox"> <input type="checkbox" data-ng-model="remember" name="remember"> <i></i>Stay signed in
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-disabled="usrLoginFrm.$invalid">Sign in</button>
                        </footer>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>