<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin">
        </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Already registered?</span> <a ui-sref="login" class="btn btn-danger">Sign In</a>
    </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
                <div ng-include="'app/auth/views/common_info.html'"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="well no-padding">

                    <form id="usrRegFrm" name="usrRegFrm" class="smart-form" novalidate="novalidate" data-ng-submit="register(usrRegFrm.$valid)" ng-controller="RegisterCtrl">
                        <header> Registration is FREE </header>

                        <fieldset>


                            <section>
                                <label class="input"> 
                                    <i class="icon-append fa fa-user"></i> 
                                    <input type="text" name="username" placeholder="Username" data-ng-model="profile.username" required ng-minlength="3" ng-maxlength="20" name-unique="username" > 
                                    <b class="tooltip tooltip-bottom-right">Needed to enter the username</b>
                                    <div ng-class="{ 'has-error' : usrRegFrm.username.$invalid && usrRegFrm.username.$dirty }">
                                        <p ng-show="usrRegFrm.username.$error.required && usrRegFrm.username.$dirty" class="help-block">Please enter username.</p>
                                        <p ng-show="usrRegFrm.username.$error.minlength" class="help-block">Your username is required to be at least 3 characters.</p>
                                        <p ng-show="usrRegFrm.username.$error.maxlength" class="help-block">Your username cannot be longer than 20 characters.</p>
                                        <p ng-show="(usrRegFrm.username.$error.unique && (!usrRegFrm.username.$error.minlength && !usrRegFrm.username.$error.maxlength && !usrRegFrm.username.$error.required))" class="help-block">Username already exists please choose another!</p>
                                        
                                    </div>
                                </label>
                            </section>

                            <section>
                                <label class="input"> 
                                    <i class="icon-append fa fa-envelope"></i> 
                                    <input type="email" name="email" placeholder="Email address" data-ng-model="profile.email" required email-unique="email" user-data-uuid="0"> 
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                    <div ng-class="{ 'has-error' : usrRegFrm.email.$invalid && usrRegFrm.email.$dirty }">
                                        <p ng-show="usrRegFrm.email.$error.required && usrRegFrm.email.$dirty" class="help-block">Please enter email address.</p>
                                        <p ng-show="usrRegFrm.email.$error.email" class="help-block">Please enter a valid email address.</p>
                                        <p ng-show="(usrRegFrm.email.$error.unique && (!usrRegFrm.email.$error.email && !usrRegFrm.email.$error.required))" class="help-block">Email address already exists please choose another!</p>
                                    </div>
                                </label>
                            </section>

                            <section>
                                <label class="input"> 
                                    <i class="icon-append fa fa-link"></i> 
                                    <input type="url" name="url" placeholder="URL" data-ng-model="profile.url" ng-init="profile.url = ''" value=""> 
                                    <b class="tooltip tooltip-bottom-right">URL to your site (optional)</b>
                                    <div ng-class="{ 'has-error' : usrRegFrm.url.$invalid && usrRegFrm.url.$dirty }">
                                        <p ng-show="usrRegFrm.url.$error.url" class="help-block">Please enter a valid url.</p>
                                    </div>
                                </label>
                            </section>

                            <section >
                                <label class="input"> 
                                    <i class="icon-append fa fa-lock"></i> 
                                    <input type="password" name="password" placeholder="Password" id="password" data-ng-model="profile.password" required ng-minlength="3" ng-maxlength="20"> 
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    <div ng-class="{ 'has-error' : usrRegFrm.password.$invalid && usrRegFrm.password.$dirty }">
                                        <p ng-show="usrRegFrm.password.$error.required && usrRegFrm.password.$dirty" class="help-block">Please enter password.</p>
                                        <p ng-show="usrRegFrm.password.$error.minlength" class="help-block">Your password is required to be at least 3 characters.</p>
                                        <p ng-show="usrRegFrm.password.$error.maxlength" class="help-block">Your password cannot be longer than 20 characters.</p>
                                    </div>
                                </label>
                            </section>

                            <section>
                                <label class="input"> 
                                    <i class="icon-append fa fa-lock"></i> 
                                    <input type="password" name="passwordConfirm" placeholder="Confirm password" data-ng-model="profile.password_verify" required data-password-verify="profile.password"> 
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                    <div ng-class="{ 'has-error' : usrRegFrm.passwordConfirm.$invalid && usrRegFrm.passwordConfirm.$dirty }">
                                        <p ng-show="usrRegFrm.passwordConfirm.$error.passwordVerify" class="help-block">Password and confirm password should be same!</p>
                                    </div>
                                </label>
                            </section>

                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input"> 
                                        <input type="text" name="firstname" placeholder="First name" data-ng-model="profile.first_name">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input"> 
                                        <input type="text" name="lastname" placeholder="Last name" data-ng-model="profile.last_name">
                                    </label>
                                </section>
                            </div>

                            <section>
                                <label class="input"> 
                                    <input type="text" name="displayname" placeholder="Display Name" data-ng-model="profile.display_name">
                                </label>
                            </section>

                            <section ng-class="{ 'has-error' : usrRegFrm.terms.$invalid && usrRegFrm.terms.$dirty }">

                                <label class="checkbox">
                                    <input type="checkbox" name="terms" id="terms" data-ng-model="terms" required>
                                    <i></i>I agree with the <a href="#" data-toggle="modal" data-target="#myModal"> Terms and Conditions </a></label>
                            </section>

                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-disabled="usrRegFrm.$invalid">Register</button>
                        </footer>

                        <div class="message">
                            <i class="fa fa-check"></i>
                            <p>Thank you for your registration!</p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
            </div>
            <div class="modal-body custom-scroll terms-body">
                <div id="left">
                    <h2>[Registrations and authorisations</h2>

                    <p>[[NAME] is registered with [TRADE REGISTER].  You can find the online version of the register at [URL].  [NAME'S] registration number is [NUMBER].]</p>

                    <p>[[NAME] is subject to [AUTHORISATION SCHEME], which is supervised by [SUPERVISORY AUTHORITY].]</p>

                    <p>[[NAME] is registered with [PROFESSIONAL BODY].  [NAME'S] professional title is [TITLE] and it has been granted in [JURISDICTION].  [NAME] is subject to the [RULES] which can be found at [URL].]</p>

                    <p>[[NAME] subscribes to the following code[s] of conduct: [CODE(S) OF CONDUCT].  [These codes/this code] can be consulted electronically at [URL(S)].</p>

                    <p>[[NAME'S] [TAX] number is [NUMBER].]]</p>

                    <h2>[NAME'S] details</h2>

                    <p>The full name of [NAME] is [FULL NAME].</p>

                    <p>[[NAME] is registered in [JURISDICTION] under registration number [NUMBER].]</p>

                    <p>[NAME'S] [registered] address is [ADDRESS].</p>

                    <p>You can contact [NAME] by email to [EMAIL].</p>
                </div>
                <br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="iagree();" id="i-agree">
                    <i class="fa fa-check"></i> I Agree
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
