<div class="login-info ng-cloak">
    <span style="text-align: center;"> <!-- User image size is adjusted inside CSS, it should stay as it -->
        <a  href="" >
   <div style="float: left;font-size:1.5em;font-weight:600; color: #fff;">M</div>
            <span style="float: left;font-size:1.5em; font-weight:600; color: #fff; text-transform: none;">aply</span>

        </a>
    </span>
</div>