<!-- HEADER -->
<!--<div data-smart-include="app/layout/partials/header.tpl.html" class="placeholder-header"></div>-->
<!-- END HEADER -->
<style type="text/css">
    #extr-page{
        background:#fff none repeat scroll 0 0 !important;
    }
    html{margin:0;padding:0;min-height:100%;background:url(../../styles/img/mybg-old.png) #fff;position:relative}
</style>

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div data-smart-include="app/layout/partials/navigation.tpl.html" class="placeholder-left-panel"></div>

<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div class="cls_main">
    <div id="main" role="main" class="">

        <!-- RIBBON -->
        <div id="ribbon">

            <!--        <span class="ribbon-button-alignment">
                        <span id="refresh" class="btn btn-ribbon" reset-widgets
                              tooltip-placement="bottom"
                              tooltip-html-unsafe="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.">
                            <i class="fa fa-refresh"></i>
                        </span>
                    </span>-->

            <!-- breadcrumb -->
            <state-breadcrumbs></state-breadcrumbs>
            <div style="float: right; color: #f5f5f5;margin-top:10px;">
                <div data-smart-include="app/layout/partials/logout.tpl.html" class="placeholder-left-panel"></div>
                <!--            <a href="#/login" id="header_logout" class="" data-action="userLogout"><i
                                    class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>-->

                <!-- end breadcrumb -->
            </div>

        </div>
        <!-- END RIBBON -->


        <div data-smart-router-animation-wrap="content content@app" data-wrap-for="#content">
            <div data-ui-view="content" data-autoscroll="false"></div>
        </div>

    </div>
</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<!--<div data-smart-include="app/layout/partials/footer.tpl.html"></div>-->

<div data-smart-include="app/components/shortcut/shortcut.tpl.html"></div>

<!-- END PAGE FOOTER -->


