<div id="content" ng-controller="AddAdminCtrl" >

    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET ROW START -->
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-deletebutton="false"
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >

                    <div class="row">
                        <div class="widget-body">
                            <form id="userForm" class="well" name="userForm" method="post" ng-submit="saveAdminInfo(userForm.$valid)">

                                <fieldset>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Name</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="name"  ng-model="dataRow.name" required ng-pattern="/^[a-zA-Z ]+$/">
                                                    <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                        <p ng-show="userForm.name.$error.required && userForm.name.$dirty" class="help-block">Please enter name.</p>
                                                        <p ng-show="userForm.name.$error.pattern && userForm.name.$dirty" class="help-block">Please enter valid name.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Email Id</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="email" class="form-control" name="email" ng-model="dataRow.email" required email-unique="email">
                                                    <div ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
                                                        <p ng-show="userForm.email.$error.required && userForm.email.$dirty" class="help-block">Please enter email.</p>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Password</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    
                                                        <input class="form-control" type="password" name="password" id="password" data-ng-model="password" required ng-minlength="6" ng-maxlength="20" />
                                                        <div ng-class="{ 'has-error' : adminFrm.password.$invalid && userform.password.$dirty }">
                                                            <p ng-show="userForm.password.$error.required && userForm.password.$dirty" class="help-block">Please enter password.</p>
                                                            <p ng-show="userForm.password.$error.minlength" class="help-block">Your password is required to be at least 6 characters.</p>
                                                            <p ng-show="userForm.password.$error.maxlength" class="help-block">Your password cannot be longer than 20 characters.</p>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-4 col-lg-4 control-label">Confirm Password</label>
                                                <div class="col-xs-8 col-lg-8 inputGroupContainer">
                                                   
                                                        <input class="form-control" type="password" name="passwordConfirm" data-ng-model="password_verify" required data-password-verify="password" />
                                                        <div ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && userForm.passwordConfirm.$dirty }">
                                                            <p ng-show="userForm.passwordConfirm.$error.passwordVerify" class="help-block">Password and confirm password should be same!</p>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">

                                                        <button class="btn btn-default" type="button" ng-click="backToAdmin()" >
                                                            Cancel
                                                        </button>
                                                        <button class="btn btn-primary" type="submit"  ng-disabled="userForm.$invalid">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

    </section>
</div>