<div id="content" ng-controller="AdminCtrl" ng-init="getData();">

    <section widget-grid id="widget-grid" >
        <div class="row">
            <article class="col-sm-12">

                <fieldset>

                     <div class="col-sm-12">
                                            <div class="col-sm-8">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-xs-4 col-lg-4 inputGroupContainer">
                                                            <input class="form-control" placeholder="Search By Name" type="text" ng-model="searchName"
                                                                       id="user_name" name="user_name">
                                                        </div>
                                                        <div class="col-xs-4 col-lg-4 inputGroupContainer">
                                                            <button type="submit" class="btn btn-primary" ng-click="searchList()">Search</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                         </div>
                    
                     <div class="col-sm-2 pull-right">
                        <div class="form-group pull-right">
                            <button class="btn btn-primary" type="button" ng-click="addAdmin();" >Add Admin</button>
                        </div>
                    </div>
                   
                </fieldset>


                <br>
                <div jarvis-widget id="standard-datatable-widget" data-widget-colorbutton="false" 
                     data-widget-togglebutton="false" 
                     data-widget-editbutton="false" 
                     data-widget-fullscreenbutton="false" 
                     data-widget-deletebutton="false" 
                     data-widget-sortable="false"
                     data-jarvis-widget>
                    <!--                    <header>
                                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                            <h2>All Orders </h2>
                                        </header>-->

                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                               
                                
                                <th style="text-align: center" width="22">Sr. No.</th>
                                <th style="text-align: center" width="29">Name</th>
                                <th style="text-align: center" width="29%">Email</th>
                                  <th style="text-align: center" width="22%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,admin) in adminList ">
                                
                               
                                <td style="text-align: center" width="22">{{key+1}}</td>
                                <td>{{admin.name}}</td>
                                 <td>{{admin.email}}</td>
                                 
                                <td><a href-void="" class="btn btn-primary" ng-click="editAdmin(admin.id);" href="#"><i class="fa fa-list-alt"></i> Edit</a>
<!--                                    &nbsp;<a href-void="" class="btn btn-danger" ng-click="showDeletePopup(admin.id);" href="#"><i class="fa fa-trash-o "></i> Delete</a></td>-->
                            </tr>
                        </tbody>
                    </table>
                    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="perPage" max-size="noOfPages" boundary-links="true" rotate="false" class="pagination-sm pull-right"></pagination>
                </div>

            </article>
        </div>
    </section>


    <!-- end widget content -->

    <!-- end widget grid -->

     <!-- start dialog status box -->
    <div id="dialog_status_box_country" data-smart-jqui-dialog data-modal="true">
        <div data-dialog-title>
            <div class='widget-header'><h4><i class='fa fa-trash-o'></i> Confirmation!</h4></div>
        </div>
        <p>Are you sure, you want to delete this record ?</p>
        <div data-dialog-buttons>
            <button class="btn btn-success" data-action="doDeleteCountry();"><i class='fa fa-check'></i>&nbsp; Yes</button>
            <button class="btn btn-primary"><i class='fa fa-times'></i>&nbsp; No</button>
        </div>
    </div>
    <!-- end dialog status box -->
</div>