<div id="content" ng-controller="EditAdminCtrl" ng-init="getData();"  >

    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET ROW START -->
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-deletebutton="false"
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >

                    <div class="row">
                        <div class="widget-body">
                            <form id="userForm" class="well" name="userForm" method="post" ng-submit="editAdminInfo(userForm.$valid)">

                                <fieldset>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"> Name</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="text" class="form-control" name="name"  ng-model="dataRow.name" required ng-pattern="/^[a-zA-Z ]+$/">
                                                    <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                        <p ng-show="userForm.name.$error.required && userForm.name.$dirty" class="help-block">Please enter name.</p>
                                                        <p ng-show="userForm.name.$error.pattern && userForm.name.$dirty" class="help-block">Please enter valid name.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Email Id</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                    <input type="email" class="form-control" name="email" ng-model="dataRow.email" required email-unique="email">
                                                    <div ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
                                                        <p ng-show="userForm.email.$error.required && userForm.email.$dirty" class="help-block">Please enter email.</p>
                                                        <p ng-show="(userForm.email.$error.unique && (!userForm.email.$error.email && !userForm.email.$error.required))" class="help-block">Email address already exists please choose another!</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="(!passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"></label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="(passObj.isShowPwd = true);">Change
                                                            Password</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Password</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="password" class="form-control"
                                                               name="pass"
                                                               data-ng-model="passwordVerify.password"
                                                               required="required" />
                                                    </div>

                                                    <div class="col-lg-12 "
                                                         ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$dirty }">
                                                        <p
                                                            ng-show="userForm.password.$error.required && userForm.password.$dirty"
                                                            class="help-block">Please enter password.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

<!--                                        <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Confirm
                                                    Password</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="password" class="form-control"
                                                               id="confirmPassword" name="confirmPassword"
                                                               data-ng-model="confirmPassword" required
                                                               data-password-verify="passwordVerify.password" />
                                                    </div>

                                                    <div class="col-lg-12 "
                                                         ng-class="{ 'has-error' :userForm.confirmPassword.$invalid && userForm.confirmPassword.$dirty }">
                                                        <p
                                                            ng-show="userForm.confirmPassword.$error.required && userForm.confirmPassword.$dirty"
                                                            class="help-block">password not match.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"></label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-2 ">
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="changePassword();"
                                                                ng-disabled="userForm.confirmPassword.$invalid">Save</button>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="(passObj.isShowPwd = false);">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">

                                                        <button class="btn btn-default" type="button" ng-click="backToAdmin()" >
                                                            Cancel
                                                        </button>
                                                        <button class="btn btn-primary" type="submit"  ng-disabled="userForm.$invalid">
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

    </section>
</div>