<div id="content" ng-controller="SettingCtrl" ng-init="getData();">

    <section id="widget-grid" widget-grid>

      
        <div class="row">

           
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0" 
                     data-widget-colorbutton="false"	
                     data-widget-editbutton="false" 
                     data-widget-deletebutton="false" 
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >
                    <!-- widget div-->

                    <div class="cls_grid_content">


                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="specialityFrm" name="settingFrm" class="well" method="post" novalidate="novalidate" ng-submit="saveSetting(settingFrm.$valid)">
                                <fieldset>

                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Email</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="text" class="form-control" name="email" data-ng-model="email" required="required" />
                                                    </div>
                                                    <div ng-class="{ 'has-error' : settingFrm.email.$invalid && settingFrm.email.$dirty }">
                                                        <p ng-show="settingFrm.email.$error.required && settingFrm.email.$dirty" class="help-block">Please enter  email.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Phone</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="text" class="form-control" name="phone" data-ng-model="phone" required="required" />
                                                    </div>
                                                    <div ng-class="{ 'has-error' : settingFrm.phone.$invalid && settingFrm.phone.$dirty }">
                                                        <p ng-show="settingFrm.phone.$error.required && settingFrm.phone.$dirty" class="help-block">Please enter  phone.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Fax</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="text" class="form-control" name="fax" data-ng-model="fax" required="required" />
                                                    </div>
                                                    <div ng-class="{ 'has-error' : settingFrm.fax.$invalid && settingFrm.fax.$dirty }">
                                                        <p ng-show="settingFrm.fax.$error.required && settingFrm.fax.$dirty" class="help-block">Please enter  fax.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
<!--                                            <button class="btn btn-default" type="button" ng-click="Clear()">
                                                Clear
                                            </button>-->
                                            <button class="btn btn-primary" type="submit" ng-disabled="settingFrm.$invalid">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->



            </div>
            <!-- WIDGET ROW END -->




        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>