<div id="content" ng-controller="AddSpecialityCtrl" ng-init="">

    <section id="widget-grid" widget-grid>

      
        <div class="row">

            <!-- NEW WIDGET ROW START -->
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0" 
                     data-widget-colorbutton="false"	
                     data-widget-editbutton="false" 
                     data-widget-deletebutton="false" 
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >
                  
                    <header>
                        <h2>Add Speciality </h2>
                    </header>

                    <!-- widget div-->

                    <div class="cls_grid_content">


                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="specialityFrm" name="specialityFrm" class="well" method="post" novalidate="novalidate" ng-submit="saveSpeciality(specialityFrm.$valid)">
                                <fieldset>

                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Speciality</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="text" class="form-control" name="name" data-ng-model="name" required="required" />
                                                    </div>
                                                    <div ng-class="{ 'has-error' : specialityFrm.name.$invalid && specialityFrm.name.$dirty }">
                                                        <p ng-show="specialityFrm.name.$error.required && specialityFrm.name.$dirty" class="help-block">Please enter  name.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Featured </label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-1 ">
                                                        <input type="checkbox" class="form-control" name="isFeatured" data-ng-model="is_featured" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Photo</label>
                                                <div class="col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-6" ng-if="image">
                                                         <img src="{{image}}" alt="" width="150"> 
                                                    </div>
                                                    <div class="col-lg-6 ">
                                                       <file-field-specialities ng-model="uploadFile" preview="image"  required="required"></file-field-specialities>
                                                      
                                                    </div>
                                                     
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"></label>
                                                <div class="col-lg-8 inputGroupContainer">
                                                     <div class="note">Image should be  less then 100 kb and dimension (640 x 200 px)</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default" type="submit" ng-click="backToSpeciality()">
                                                Cancel
                                            </button>
                                            <button class="btn btn-primary" type="submit" ng-disabled="specialityFrm.$invalid">Save</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->



            </div>
            <!-- WIDGET ROW END -->




        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>