<div id="content" ng-controller="EditUserCtrl" ng-init="getData();">


    <!--    <div class="row">
            <big-breadcrumbs items="['View Order']" icon="home"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    
        </div>-->

    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
    -->

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET ROW START -->
            <div class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div jarvis-widget id="wid-id-0"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-deletebutton="false"
                     data-widget-sortable="false"
                     data-widget-collapsed="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-togglebutton="false"
                     >

                    <fieldset>
                        <!--<div class="col-sm-10 form-group"> User</div>-->

                    </fieldset>

                 
                           

                            <div class="widget-body" >
                                <!--<form id="merchantsForm" class="well" name="merchantsForm" method="get" novalidate >-->

                                <div id="myTabContent1" class="tab-content padding-10">
                                        <form id="userForm" class="well" name="userForm" method="post" novalidate ng-submit="updateUserInfo(userForm.$valid)">
                                            <input type="text" class="form-control ng-hide" name="user_obj_id" data-ng-model="user_obj.id" />
                                            <fieldset>

                                                <div class="col-sm-7">
                                                    
                                                     <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-xs-2 col-lg-4 control-label">User Name</label>
                                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                                <input type="text" class="form-control" name="username"  ng-model="user_obj.username" required >
                                                                <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-xs-2 col-lg-4 control-label"> Name</label>
                                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                                <input type="text" class="form-control" name="name"  ng-model="user_obj.name" required >
                                                                <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-xs-2 col-lg-4 control-label">Email Id</label>
                                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                                <input type="email" class="form-control" name="email" ng-model="user_obj.email" required email-unique="email" readonly="true">
                                                                <div ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
                                                                    <p ng-show="userForm.email.$error.required && userForm.email.$dirty" class="help-block">Please enter email.</p>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                            <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-xs-2 col-lg-4 control-label"> Location</label>
                                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">

                                                                <input type="text" class="form-control" name="location"  ng-model="user_obj.location" required >
                                                                <div ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-xs-3 col-lg-4 control-label">Status</label>
                                                            <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                                <div class="btn-group cls_p_order_status" data-toggle="buttons">
                                                                    <label class="btn btn-default" ng-class="{active:user_obj.status == 'Live'}" ng-click="setStatus('Live')">
                                                                        <input class="ng-pristine ng-valid" type="radio" value="Live" ng-model="user_obj.user_status" name="Live">
                                                                        Live
                                                                    </label>
                                                                    <label class="btn btn-default" ng-class="{active:user_obj.status == 'Away'}" ng-click="setStatus('Away')">
                                                                        <input class="ng-pristine ng-valid" type="radio" value="Away" ng-model="user_obj.user_status" name="Away">
                                                                        Away
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                               
                                                  <div class="form-group">
                                                <div class="form-group" ng-if="(!passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"></label>
                                              <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                  
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="(passObj.isShowPwd = true);">Change
                                                            Password</button>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                                  </div>

                                         <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Password</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="password" class="form-control" name="pass" data-ng-model="passwordVerify.password" required="required" >
                                                    </div>

                                                    <div class="col-lg-12 "
                                                         ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$dirty }">
                                                        <p
                                                            ng-show="userForm.password.$error.required && userForm.password.$dirty"
                                                            class="help-block">Please enter password.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

<!--                                        <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label">Confirm
                                                    Password</label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-12 ">
                                                        <input type="password" class="form-control"
                                                               id="confirmPassword" name="confirmPassword"
                                                               data-ng-model="confirmPassword" required
                                                               data-password-verify="passwordVerify.password" />
                                                    </div>

                                                    <div class="col-lg-12 "
                                                         ng-class="{ 'has-error' :userForm.confirmPassword.$invalid && userForm.confirmPassword.$dirty }">
                                                        <p
                                                            ng-show="userForm.confirmPassword.$error.required && userForm.confirmPassword.$dirty"
                                                            class="help-block">password not match.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-group" ng-if="(passObj.isShowPwd)">
                                            <div class="row">
                                                <label class="col-xs-2 col-lg-4 control-label"></label>
                                                <div class="col-xs-9 col-lg-8 inputGroupContainer">
                                                    <div class="col-lg-2 ">
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="changePassword();"
                                                                ng-disabled="userForm.confirmPassword.$invalid">Save</button>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <button class="btn btn-primary" type="button"
                                                                ng-click="(passObj.isShowPwd = false);">Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
 </div>
                                             
                                                
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="pull-right">

                                                                <button class="btn btn-default" type="button"  ng-click="backToUser()">
                                                                    Cancel
                                                                </button>
                                                                <button class="btn btn-primary" type="submit"  ng-disabled="cabsForm.$invalid">                               
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </div>
                                 

                                    <div id="orderHistory" class="tab-pane {{classHistory}} fade in">
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">

                                                            <button class="btn btn-default" type="button"  ng-click="backToUser()">
                                                                Back
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                       
                                    </div>


                                </div>
                                <!--</form>-->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>