<div id="content" ng-controller="UserCtrl" ng-init="getData();">

    <section widget-grid id="widget-grid" >
        <div class="row">
            <article class="col-sm-12">

                <fieldset>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-9 col-lg-10 selectContainer">

                                    <input class="form-control" placeholder="Search by Name..." type="text"
                                           ng-model="searchName" name="name">
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="col-sm-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-9 col-lg-12 selectContainer">
                                    <button class="btn btn-primary" type="button" ng-click="searchList();" >Search</button>
                                </div>
                            </div>
                        </div>
                  </div>
                   

                </fieldset>


                <br>
                <div jarvis-widget id="standard-datatable-widget" data-widget-colorbutton="false" 
                     data-widget-togglebutton="false" 
                     data-widget-editbutton="false" 
                     data-widget-fullscreenbutton="false" 
                     data-widget-deletebutton="false" 
                     data-widget-sortable="false"
                     data-jarvis-widget>
                    <!--                    <header>
                                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                            <h2>All Orders </h2>
                                        </header>-->

                    <table class="table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th ng-click="sortList('name');" style="cursor: pointer;" width="20%">Name</th>
                                <th  width="20%">User Name</th>
                                <th  width="20%">Email</th>
                                <th  width="20%">Location</th>
                                <th  width="10%">Status</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,user) in userList | filter: { name : name } ">
                               
                                <td>{{user.name}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.location}}</td>
                                <td>{{user.status}}</td>
                                 
                                <td><a href-void="" class="btn btn-primary" ng-click="editUser(user.id);" href="#"><i class="fa fa-list-alt"></i> Edit</a>
                            </tr>
                        </tbody>
                    </table>
                    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="perPage" max-size="noOfPages" boundary-links="true" rotate="false" class="pagination-sm pull-right"></pagination>
                </div>

            </article>
        </div>
    </section>


    <!-- end widget content -->

    <!-- end widget grid -->

    
</div>